global_defs {
  router_id {{ keepalived_backup['router'] }}
}

vrrp_script chk_haproxy {
  script "{{ keepalived_backup['script'] }}"
  interval 2
  weight 2
}

vrrp_instance haproxy-vip {
  state {{ keepalived_backup['state'] }}
  priority {{ keepalived_backup['priority'] }}
  interface {{ keepalived_backup['interface'] }}                       # Network card
  virtual_router_id {{ keepalived_backup_master['virtual_router_id'] }}
  advert_int {{ keepalived_backup['advert_int'] }}
  authentication {
    auth_type PASS
    auth_pass {{ keepalived_backup['auth_pass'] }}
  }
  unicast_src_ip {{ keepalived_backup['unicast_src_ip'] }}      # The IP address of this machine
  unicast_peer {
    {{ keepalived_backup['unicast_peer'] }}                         # The IP address of peer machines
  }

  virtual_ipaddress {
    {{ keepalived_backup['virtual_ip'] }}                  # The VIP address
  }

  track_script {
    chk_haproxy
  }
}