global_defs {
  router_id {{ keepalived['router'] }}
}

vrrp_script chk_haproxy {
  script "{{ keepalived['script'] }}"
  interval 2
  weight 2
}

vrrp_instance haproxy-vip {
  state {{ keepalived['state'] }}
  priority {{ keepalived['priority'] }}
  interface {{ keepalived['interface'] }}                       # Network card
  virtual_router_id {{ keepalived['virtual_router_id'] }}
  advert_int {{ keepalived['advert_int'] }}
  authentication {
    auth_type PASS
    auth_pass {{ keepalived['auth_pass'] }}
  }
  unicast_src_ip {{ keepalived['state'] }}      # The IP address of this machine
  unicast_peer {
    {{ keepalived['state'] }}                         # The IP address of peer machines
  }

  virtual_ipaddress {
    {{ keepalived['state'] }}                  # The VIP address
  }

  track_script {
    chk_haproxy
  }
}